# ZMS Add for Application Resources
*.acl
*.acv
*.apk
*.arsc
*.avi
*.bak
*.bks
*.bin
*.cap
*.cer
*.cfg
*.class
*.conf
*.config
*.css
*.csv
*.dat
*.data
*.der
*.dex
*.dix
*.doc
*.docx
*.dll
*.emf
*.eot
*.glsl
*.gzip
*.htm
*.html
*.idx
*.ini
*.jar
*.java
*.jpp
*.js
*.json
*.key
*.keystore
*.ks
*.lix
*.log
*.mmstr
*.mp4
*.native
*.nls
*.odf
*.one
*.pak
*.pem
*.ppt
*.pptx
*.properties
*.pvr
*.rmvb
*.rs
*.RSA
*.scel
*.script
*.sga
*.svg
*.swf
*.so
*.sql
*.ssf
*.sty
*.tar
*.temp
*.tmp
*.ttf
*.txt
*.vch
*.woff
*.wsg
*.wz
*.xls
*.xlsx
*.xml
*.xsd
*.xslt
*.zip

#Special File
channel
daemonmonitor
build
manifest
push_version
QUICKPAY@*
README