# ZMS Add for Application Resources
*.acv
*.apk
*.arsc
*.avi
*.bks
*.bin
*.cap
*.cer
*.cfg
*.class
*.conf
*.css
*.dat
*.data
*.der
*.dex
*.glsl
*.htm
*.html
*.ini
*.jar
*.java
*.js
*.json
*.key
*.log
*.mmstr
*.mp4
*.native
*.pem
*.properties
*.pvr
*.rmvb
*.rs
*.RSA
*.scel
*.sga
*.svg
*.swf
*.so
*.ssf
*.sty
*.tmp
*.txt
*.wsg
*.xml
*.zip

#Special File
channel
build